.search-container {
    position: relative;
    display: flex;
}

.search-results {
    border: none;
    background: white;
    border-radius: 1.1rem;
    box-shadow: 0 0.5rem 1rem var(--boxshadow);
    padding: 1rem;
    width: 45rem;
    font-size: 1.5rem;
    position: absolute;
    top: 6rem;
    left: -10rem;
    z-index: 99;
}
