.crop-modal {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5rem !important;
}

.crop-holder {
    width: auto;
    height: calc(auto - 5rem);
    padding: 5rem !important;
    background-color: #fff;
    border-radius: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crop-holder .btn-save {
    margin-top: 3rem;
}

.ReactCrop {
    border-radius: 1.1rem;
}

.ReactCrop__image {
    max-height: calc(100vh - 20rem);
}

/* SETTINGS MODAL */

.overlay {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-in {
    height: 100%;
    opacity: 1;
    z-index: 9999;
}

.settings-content {
    width: 80rem;
    margin-top: 3rem;
}

.nav-shadow {
    box-shadow: 0 0.5rem 1rem var(--boxshadow);
}

.settings-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80rem;
}

.settings-header h2 {
    font-size: 4rem;
    font-weight: bold;
}

.settings-header img {
    height: 2.5rem;
    width: 2.5rem;
    transform: rotate(45deg);
}

.settings-section {
    width: 100%;
    margin-top: 8rem;
}

.settings-section:last-of-type {
    margin-bottom: 3rem;
}

.settings-section h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.settings-profile {
    width: 100%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1rem var(--boxshadow);
    padding: 3rem;
}

.settings-profile .profile {
    display: flex;
    flex-direction: column;
}

.img-editor {
    margin-top: -1rem;
    font-size: 1.2rem;
    padding: 0 !important;
    margin-left: -3rem;
}

.profile-image-holder {
    display: flex;
    align-items: center;
}

.settings-profile .profile img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: dotted var(--blue) 0.2rem;
    margin-right: 3rem;
}

.settings-profile .username {
    font-weight: bold;
    font-size: 2rem;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-form div {
    padding: 2rem 0;
}

.profile-form label {
    display: inline-block;
    text-align: right;
    min-width: 11rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.profile-form input {
    width: 50rem;
    border: none;
    height: 4rem;
    box-shadow: 0 0.5rem 1rem var(--boxshadow);
    font-size: 1.5rem;
    padding-left: 1rem;
}

.profile-form input.available {
    border: 1px solid green;
}

.profile-form input.taken {
    border: 1px solid red;
}

.privacy-input {
    align-self: flex-start;
}

.privacy-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: white !important;
    box-shadow: 0 0.5rem 1rem var(--boxshadow);
    padding: 1rem;
    border-radius: 0;
    width: 20rem;
    height: 4rem;

    font-size: 1.5rem;
}

.privacy-public {
    background: url(../../assets/svg/unlock.svg) 96% / 10% no-repeat #eee;
}

.privacy-private {
    background: url(../../assets/svg/lock.svg) 96% / 10% no-repeat #eee;
}

.submit-holder {
    align-self: flex-start;
    margin-left: 12rem;
}

.btn-save {
    border: none;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    background-color: var(--blue);
    color: white;
    border-radius: 0.7rem;
}

/* END SETTINGS MODAL */
