.experience-wrapper {
    margin: 0 8rem;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    height: 40rem;
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.experience-img-holder {
    width: 40rem;
    height: 40rem;
}

.experience-img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.detail-experience-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-experience-title {
    font-size: 3rem;
    color: var(--blue);
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.detail-experience-desc {
    margin-top: 1rem;
    color: var(--grey);
    font-size: 1.4rem;
}

.experience-actions-holder {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    font-weight: lighter;
    letter-spacing: 0.15rem;
}

.experience-actions-holder span {
    letter-spacing: 0;
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 3rem var(--boxshadow);
}

.experience-collabs {
    margin-top: 4rem;
}

.experience-users-title {
    font-size: 2rem;
    color: var(--blue);
}

.experience-users-holder {
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
}

.experience-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    max-width: 15rem;
}

.experience-users img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    box-shadow: 0 0.5rem 3rem var(--boxshadow);
}

.experience-users p {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--blue);
    font-weight: lighter;
    text-align: center;
}

.experience-moments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.moments-detail-title {
    font-size: 2rem;
    color: var(--blue);
    margin-bottom: 3rem;
}

.moment-img-holder {
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-moment-title {
    font-weight: bold;
    color: var(--blue);
    font-size: 2.5rem;
    margin-top: 2rem;
    letter-spacing: 0.1rem;
}

.detail-moment-desc {
    margin-top: 1rem;
    font-weight: lighter;
    font-size: 1.7rem;
    max-width: 85%;
}
