.emoji-picker {
    position: absolute;
    background: white;
    left: 55rem;
    top: 0rem;
    z-index: 10;
}

.comment-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 98%;
}

.comment-container > a.delete-comment,
.comment-time {
    opacity: 0.4;
}

.comment-container > a.delete-comment {
    cursor: pointer;
    position: absolute;
    right: 0rem;
    top: 0.5rem;
}

.comment-container > a.delete-comment:hover {
    opacity: 1;
}

.comment-user-text {
    display: flex;
    width: 100%;
    margin: 0.2rem auto;
}

.comment-username {
}

.comment-text {
    display: flex;
    max-height: 10rem;
}

.comment-time {
    font-size: 1.2rem;
    align-self: flex-end;
}

.comment-form {
    display: flex;
    align-items: center;
}

.comments {
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

.comments li {
    padding: 0.5rem 0;
    max-width: 100%;
}

.comments p {
    color: var(--grey);
}

#comment {
    margin-left: 0.5rem;
    width: 85%;
    height: 3rem;
    border-radius: 5rem;
    border: solid rgba(144, 148, 156, 0.3) 0.1rem;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
}

.comment-holder {
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-holder > a {
    border: none;
    border-radius: 50%;
    background: white;
    padding: 1rem 0.75rem 1rem 0.75rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.2rem;
    appearance: none;
}

.comment-holder > a:hover {
    cursor: pointer;
}

.comment-holder > a:active {
    box-shadow: 0 0.2rem 1rem var(--boxshadow);
}

.user-picture > img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.emoji-picker .emoji-mart .emoji-mart-scroll {
    height: 18rem;
}
