@import '../../assets/css/reset.css';
:root {
  --blue: #2f4052;
  --grey: #90949c;
  --boxshadow : rgba(47, 64, 82, .29);
}

a {
  color: black;
  text-decoration: none;
}

input,
textarea,
button,
select {
  outline: none;
}

.upper {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none!important;
}

.no-scroll {
  overflow: hidden;
}
