/* SECTION */

body {
    font-family: 'Roboto', sans-serif;
}

/* NAV */

nav {
    height: 7.5rem;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.99);
    transition: box-shadow 0.2s;
}

.nav-content {
    display: flex;
    align-items: center;
    width: 100rem;
}

.nav-shadow {
    box-shadow: 0 0.5rem 1rem var(--boxshadow);
}

.nav-content .flex-item {
    flex: 1;
}

.logo {
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-input-holder {
    position: relative;
    display: flex;
    align-items: center;
}

.search img {
    height: 1.5rem;
    position: absolute;
    left: 1rem;
}

.search input {
    border: none;
    border-radius: 1.1rem;
    box-shadow: 0 0.5rem 1rem var(--boxshadow);
    padding: 1rem;
    padding-left: 3rem;
    height: 4rem;
    width: 25rem;
    font-size: 1.5rem;
    appearance: none;
}

input[type='search']::-webkit-search-results-button {
    display: none;
}

.profile-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-actions .action {
    display: flex;
    padding: 0 1rem;
}

.profile-actions .action img {
    height: 2.7rem;
    padding: 0.2rem;
}

.settings-svg {
    transition: transform 0.2s;
}

.settings:hover .settings-svg {
    transform: rotate(25deg);
}

.profile-actions .profile img,
.moment .profile img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: dotted 0.2rem var(--blue);
}

.navbar-particle {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: dotted 0.2rem var(--blue);
}

.logout {
    position: relative;
}

.logout-svg {
    transform: rotate(180deg);
}

.action-detail {
    z-index: -1;
    background-color: var(--blue);
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    color: white;
    position: absolute;
    transform: translateY(1.5rem);
    opacity: 0;
    transition: opacity 0.2s 0s, transform 0.2s 0s;
}

.action-detail::before {
    content: '';
    display: block;
    position: absolute;
    top: -0.7rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;

    border-bottom: 0.7rem solid var(--blue);
}

.action:hover .action-detail {
    display: flex;
    transform: translateY(3.3rem);
    opacity: 1;
    transition: opacity 0.2s 0.5s, transform 0.2s 0.5s;
}

.profile-action-detail {
    transform: translateY(4rem);
    margin-left: 1.5rem;
}

.action:hover .profile-action-detail {
    transform: translateY(7rem);
}

.icon {
    width: 20px;
    height: 20px;
}
/* END NAV */
